@import 'react-quill/dist/quill.snow.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Estilos do Quill */
.quill {
  @apply h-full;
}

.ql-container {
  @apply h-[calc(100%-42px)] !important;
  font-family: inherit !important;
}

.ql-snow.ql-toolbar button,
.ql-snow .ql-toolbar button {
  @apply text-gray-400;
}

.ql-snow.ql-toolbar button:hover,
.ql-snow .ql-toolbar button:hover {
  @apply text-white;
}

.ql-snow.ql-toolbar button.ql-active,
.ql-snow .ql-toolbar button.ql-active {
  @apply text-blue-500;
}

.ql-editor {
  @apply text-white;
}

.ql-snow.ql-toolbar {
  @apply border-white/[0.05] !important;
}

.ql-container.ql-snow {
  @apply border-white/[0.05] !important;
}
